p a {
    color: #FF5722;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    display: block;
    text-align: center;
}

p a:hover {
    color: #FF7043;
    text-decoration: underline;
}